@model List<Book>
@{
    ViewData["Title"] = "AdminBooks";
}
<div class="text-center">
    <h1>Welcome To Page Perceptions</h1>

    <hr class="my-4">
</div>

<style>
    .btn_format {
        width: 80%;
        height: 250px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .center-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>

<div class="center-container">
    <div class="mb-2 w-100 d-flex justify-content-center">
        <a asp-controller="Book" asp-action="Add" class="btn btn-primary btn-lg btn-block btn_format">Add New Book Review</a>
    </div>
    <div class="mb-2 w-100 d-flex justify-content-center">
        <a asp-controller="Home" asp-action="Books" class="btn btn-secondary btn-lg btn-block btn_format">View Book Reviews</a>
    </div>
</div>